.header {
    background-color: black;
    margin: 0;
    padding: 30px 100px 20px 100px;
}

.header .text {    
    font-size: 20px;
    color: white;
    font-family: "strenuous";
    display:block;
    float: left;
}

.headerButton {
    
    display:block;    
    float: right;
    margin: 10px 30px 0px 30px;
    box-sizing:border-box;
    height: 30px;
    
    padding: 5px;
    background: #ccaaaa;
    color: white;
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;
}