* {
  margin: 0;
  padding: 0;
}

.header {
    background-color: black;
    margin: 0;
    padding: 30px 100px 20px 100px;
}

.header .text {    
    font-size: 20px;
    color: white;
    font-family: "strenuous";
    float: left;
}

.headerButton {
       
    float: right;
    margin: 0 30px;
    box-sizing:border-box;
    height: 30px;
    
    padding: 5px;
    background: #ccaaaa;
    color: white;
}

.content {
    display: block;
    box-sizing: border-box;        
    background: #D3D3D3;  
    min-height: 30px;
    padding-top: 30px;
}

.contentContainer {
    box-sizing: border-box;
    width: 70%;
    display:block;
    margin: 0 auto;  
    text-align: center;
}

.contentBlock {
    box-sizing: border-box;
    display: inline-block;    
    margin: 0px 10px 10px 0px;    
    width: 300px;
    min-height: 100px;         
}


.greenBlock {
    background-color: green;
}
.redBlock {
    background-color: red;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}